$default-font: 'Source Sans Pro', sans-serif;

$white: #FFFFFF;

$black: #222528;
$transparent-black: #22252863;
$black-hover: #3e4449;

$danger-color: #cc3d39;
$red: #CC3D39;
$red-hover: #e25b58;
$red-67: #F06543;

$grey-hover: #efefef;

$grey-44: #2c2c2c;
$grey-55: #313437;
$grey-60: #34383C;
$grey-93: #E4E8EE;
$grey-98: #F7F8FA;
$grey-180: #b4b4b4;
$grey-200: #c3c8c8;
$grey-231: #FDF7E7;
$grey-234: #e8e8ea;
$grey-242: #f2f2f2;
$grey-244: #F3F3F4;
$grey-247: #F7F7F7;
$grey-229: #e5e5e5;
$grey234: #eaeaea;
$grey-239: #efefef;

$light-blue: #63cdfd;
$light-blue-179: #91A0B3;
$blue-187: #17BEBB;
$blue-205: #718BCD;
$blue-213: #008DD5;
$blue-255: #A3D5FF;

$pink: #E299E3;

$brown-25: #41393E;
$yellow-87: #FFC857;

$light-green: #C6D8AF;
$green-1: #219653;
$green-2: #27AE60;
$green-99: #136F63;
$green-164: #7FC6A4;

$t-font-size-10: 10px;
$t-font-size-12: 12px;
$t-font-size-14: 14px;
$t-font-size-16: 16px;
$t-font-size-18: 18px;
$t-font-size-24: 24px;
$t-font-size-26: 26px;
$t-font-size-32: 32px;
$t-font-size-64: 64px;
$t-font-size-304: 304px;

$t-line-height-12: 12px;
$t-line-height-14: 14px;
$t-line-height-16: 16px;
$t-line-height-19: 19.6px;
$t-line-height-22: 22px;
$t-line-height-23: 23px;
$t-line-height-26: 26px;
$t-line-height-32: 32px;
$t-line-height-80: 80px;
$t-line-height-382: 382px;

$t-font-weight-normal: 400;
$t-font-weight-medium: 600;
$t-font-weight-bold: 700;

$easeInOutCubic: cubic-bezier(0.6, 0, 0.41, 1);

$left-sidebar-width: 220px;
$right-sidebar-width: 250px;

$header-logo-width: 50px;
$header-height: 46px;

$loaderBackground: rgba(0, 0, 0, 0.03);

$base-blur: 4px;
