
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #171f24;
}

body {
  color: #84C9FB
}

.header {
  background-color: #031520;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

.input{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.input__title-header {
  display: flex;
  align-items: center;
}

.input__title {
  text-align: start;
  margin-bottom: 4px;
  color: #0d96f8
}

.input__name {
  width: 200px;
  margin-bottom: 1rem;
  background-color: #363636;
  color: #84C9FB;
  font-size: 1rem;
  padding-left: 0.5rem;
}

.input__text {
  margin-bottom: 1rem;
  background-color: #363636;
  color: #84C9FB;
  font-size: 1rem;
  padding-left: 0.5rem;
}

textarea{
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  align-items: flex-end;
}

.input__paste{
  width: 24px;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 8px;
  margin-left: 8px;
  cursor: pointer;
  background-color: rgb(35, 47, 65);


  g {
    fill: blue;

    path {
      fill: green;
      stroke: yellow;
    }
  }
}

.input__paste path {
  fill: #84C9FB;
}

.input__paste:hover {
  background-color: rgb(32, 76, 142);
  g {
  }
}

.input__paste:hover path {
  fill: white;
}

.input__paste-div {
  width: 24px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  background-image: url(@/assets/copy.svg);

}

