#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  justify-content: flex-start;
  align-items: flex-start;
}

.input{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.input__title {
  text-align: start;
  margin-bottom: 4px;
}

.input__name {
  width: 100px;
  margin-bottom: 10px;
}

.input__text {
  margin-bottom: 40px;
}

textarea{
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;
}

.result {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  align-items: flex-end;
}

.result__title {
  margin-bottom: 20px;
  align-self: center;
}

.result__block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin: 8px;
}

.result__value {
  border: 1px solid black;
  border-radius: 8px;
  width: 100%;
  text-align: start;
  height: 100%;
  padding: 8px;
}

.result__copy {
  width: 24px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  margin-left: 8px;
  cursor: pointer;

  

  g {
    fill: blue;

    path {
      fill: green;
      stroke: yellow;
    }
  }
}

.result__copy:hover {
  background-color: #dddddd;
}

.result__copy-div {
  width: 24px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  background-image: url(@/assets/copy.svg);

}

